[Unit]
Description=LoginNotifier
Requires=network.target
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/loginnotifier
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
